@model Api_Ajax_Demo.Models.Customers

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Customers</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Customer_Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control",id="Name" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" ,id="Address" } })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MobileNo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MobileNo, new { htmlAttributes = new { @class = "form-control" ,id="MobileNo" } })
                @Html.ValidationMessageFor(model => model.MobileNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmailId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EmailId, new { htmlAttributes = new { @class = "form-control" ,id="EmailId" } })
                @Html.ValidationMessageFor(model => model.EmailId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" id="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script>
  var pathname = window.location.pathname.split('/');
    $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: "/api/Customers",
                data: { "id": pathname[3] },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    $("#Name").val(data.Name);
                    $("#Address").val(data.Address);
                    $("#MobileNo").val(data.MobileNo);
                    $("#EmailId").val(data.EmailId);
                }
            });
        $("#submit").click(function () {
            event.preventDefault();
                var customers = new Object();
                customers.Customer_Id = pathname[3];
                customers.Name = $("#Name").val();
                customers.Address = $("#Address").val();
                customers.MobileNo = $("#MobileNo").val();
                customers.EmailId = $("#EmailId").val();
                console.log(customers);
                $.ajax(
                    {
                        type: "PUT",
                        url: "/api/Customers/"+pathname[3],
                        data:  JSON.stringify(customers),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (data) {
                            console.log(data);
                        }
                    });
            });
         });
</script>
}
